In [10]:
# pip install pandas

!pip install pandas

import pandas as pd

Requirement already satisfied: pandas in c:\demo-pipeline\venv\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\demo-pipeline\venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\demo-pipeline\venv\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\demo-pipeline\venv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in c:\demo-pipeline\venv\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in c:\demo-pipeline\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [9]:
data = {'name':['divyanshu'], 'lastname':['kumar']}

In [11]:
pd.DataFrame(data)

        name lastname
0  divyanshu    kumar